.explore-container{
    
    
}

.carousel-container{
    width: 100%;
    aspect-ratio: 1/.3;

}

img{
    width: 100%;
    aspect-ratio: 1/.4;
}
.explore-header{
    font-weight: 700;
}
.explore-text{
    background-color: black;
    opacity: 60%;
    color: white;
    width: 70%;
    text-align: center;
    margin: 20% auto;
    margin-top: 0;
    padding: 10px;
    font-size: 1.1rem;
    
}