.explore-container {
  margin-top: 30px;
  padding: 0 15px; /* Adds some padding for mobile screens */
}

.carousel-container {
  width: 100%;
  aspect-ratio: 1 / 0.5; /* Adjust aspect ratio for desktop */
}

.explore-container img {
  width: 100%;
  height: auto; /* Ensure images scale properly */
  object-fit: cover; /* Keeps the image aspect ratio */
}

.explore-header {
  font-weight: 800;
  font-size: 1.8rem;
}

.explore-text {
  background-color: black;
  opacity: 0.6;
  color: whitesmoke;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  font-size: 1.1rem;
}

.carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center text */
  align-items: center; /* Horizontally center text */
  text-align: center;
  height: 100%;
}

/* Mobile View Adjustments */
@media (max-width: 768px) {
  .carousel-container {
    width: 100%;
    aspect-ratio: 1 / 1; /* Taller aspect ratio for mobile */
  }

  .explore-container img {
    aspect-ratio: 1 / 1; /* Adjust aspect ratio for mobile */
  }

  .explore-header {
    font-size: 1.3rem; /* Smaller font size for mobile */
  }

  .explore-text {
    font-size: 0.9rem; /* Smaller font size for mobile */
    width: 90%; /* More room for text on mobile */
    padding: 8px;
  }

  .carousel-caption {
    padding: 0 10px; /* Add padding for better text readability on smaller screens */
  }

  .carousel-indicators{display: none;}
}
