.card {
  border: none;
  border-radius: 25px;
  aspect-ratio: 1/1.2; /* Fixed height */
  overflow: hidden; /* Ensure content does not overflow */
  display: flex;
  flex-direction: column; /* Arrange children vertically */
  }

  .card img {
    width: 100%; /* Make image take full width */
  height: 60%; /* Adjust height as needed */
  object-fit: cover; /* Ensure image cov
  }
  
  .cardBody {
    border-radius: 25px;
  }
  
  span {
    font-weight: 700;
    font-size: 1.2rem; /* Use rem for better scaling */
  }
  
  .cardText {
    line-height: 1.5; /* Better line height for readability */
  }

  /* .explore-header{
    text-align: center;
    
  } */
  
  /* Ensure responsiveness */
  @media (max-width: 576px) {
    .card {
      margin-bottom: 1rem; /* Adjust spacing on small screens */
    }
  }
  