.card-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 1rem 0;
  gap: .2rem;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.card-container::-webkit-scrollbar {
  display: none; 
}

.card {
  border: none;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  transition: 0.6s;
  flex: 0 0 auto; 
  width: 80%;
  min-height: 350px; 
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: whitesmoke;
}

.card img {
  width: 100%;
  aspect-ratio: 1/.58;
  object-fit: cover;
}

.cardBody {
  border-radius: 25px;
}

span {
  font-weight: 700;
  font-size: 1.2rem;
}

.cardText {
  line-height: 1.5;
}
.scroll-btn{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

@media (max-width: 576px) {
  .card {
    width: 100%;
    margin-right: .1rem;
  }
  .scroll-btn{
    display: none;
  }
}
