.imgContianer{
    display: flex;
    gap: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.big{
    width: 45%;
    aspect-ratio: 1/.6;
}

.smallImg{
    display: flex;
    gap: 10px;
}

.small{
    width: 45%;
    aspect-ratio: 1/.85;
}
.smallContainer{
    width: 45%;

    display: flex;
    flex-direction: column; 
    gap: 50px;
}

/* details about place */

.Info-container{
    display: flex;
    gap: 20px;
}
.details-container{
    width: 54%;
    

}
.loction-detail{
    font-weight: bold;
}

.num-rooms{
    font-size: 16px;
    font-weight: bold;
}

.rating-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-color: whitesmoke;
    padding: 20px 10px;
    gap: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.fav{
    font-size: 1.13rem;
    font-weight: bold;
}

.guest-view{
    display: flex;
    border-right: 1px gray solid;
    padding: 0 20px;
}
.guest-view-text{
    font-size: 1.1rem;
    font-weight: bold;
    line-height: normal;
}

.rating{
    text-align: center;
}

.rating> p{
    font-weight: bold;
}

.review{
    text-align: center;
    line-height: normal;  
}

.review:first-child{
    font-weight: bold;
}
.review:last-child{
    text-decoration: underline;
}

.more-info-container{
    display: flex;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid gray;
    
}

.more-info-container2{
    display: flex;
    gap: 20px;
    align-items: center;
    
}
.line{
    border-bottom: 1px solid gray; 
}
.more-text{
    text-align: left;
}
.icons{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.iconsml{
    width: 40px;
    height: 40px;
    border-radius: 50%; 
}

.description-text-container{
    border-bottom: 1px solid gray;
}
.where-sleep-container{
    border-bottom: 1px solid gray;
    padding-bottom: 50px;
}

.sleep-container{
    background-color: whitesmoke;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    width: 35%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.offers-container{
    border-bottom: 1px solid gray;
    padding-bottom: 40px;
}

/* check-out */

.checkout-box{
    width: 100%;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.num-people{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 10px;
  
}



.button-container> button{
    padding: 5px 8px;
    border-radius: 2px;
}

.bookbtn, .guest{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.bookbtn{
    margin-top: 0;
}
.not-charge{
    text-align: center;
}

.multiply-price-night{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px gray solid;
}

.price-night{
    text-decoration: underline;
}

.total-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    

}

.total-text{
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0;
  align-self: flex-end;
}