/* Navcontainer.css */

.navbar-airbnb {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .brand-name {
    display: flex;
    align-items: center;
  }
  
  .brand-logo {
    width: 40px;
    height: auto;
    margin-right: 10px;
  }
  
  .modal-custom {
    max-width: 600px; /* Increase width as needed */
  }
  
  .modal-logo {
    text-align: center;
  }
  
  .modal-logo-img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .modal-custom .modal-body {
    padding: 2rem;
  }
  
  .form-control {
    margin-bottom: 1rem;
  }
  
  button {
    margin-top: 1rem;
  }
  