.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center; /* Align items horizontally */
  flex-direction: column;
  color: white;
  text-align: left;
  gap: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  padding: 0 50px; /* Adjust padding as needed */
  margin-bottom: 10px; /* Adjust margin as needed */
  text-align: center; /* Center text */
}

.line-one {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px; /* Adjust margin as needed */
}

.line-two {
  font-size: 22px;
  font-weight: 600;
}

.search-container {
  background-color: #0e0e0e;
  opacity: 80%;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  top: 0;
  width: 100%; /* Ensure full width */
  max-width: 1200px; /* Add a max-width if needed */
}

.search-form {
  display: flex;
  gap: 10px;
  align-items: center; /* Align items vertically centered */
  justify-content: center; /* Center items horizontally */
  width: 100%;
}

.input-group,
.datepicker-container,
.dropdown {
  flex: 1;
}

.datepicker-container {
  display: flex;
  gap: 10px;
}

.datepicker-item {
  position: relative;
  flex: 1;
}

.datepicker-input {
  padding-left: 30px; /* Adjust padding to accommodate icon */
}

.datepicker-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #0e0e0e;
  pointer-events: none;
}

.dropdown {
  flex: 1;
}

.form-control {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-icon {
  font-size: 18px;
  color: white;
}
